/*/
body {
    background:black;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    padding:;
    margin:0;
    height:100vh;
    width:100vw;
    font-family: arial;
    color:LightGrey;
  }
/*/
body {
    animation: changeBg 20s linear infinite;
    font-family: arial;
    color:LightGrey;
    display: grid;
    /*background-image: radial-gradient(white, black);*/
    margin: 0;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    opacity: 0;
    transition: opacity 3s;
  }
  p {
   color: LightGrey;
   font-family: arial;
   font-size: 10;
   text-align: center;
   font-weight: bold;
   font-size: 50px;
  }
  
  p:hover
  {
    color: white;
  }

  h3 {
      text-align: center;
  }

  h2 {
      text-align: center;
  }

  h4 {
      text-align: center;
  }
  
  @keyframes changeBg {
    0% {
      background-color: black;
    }
    50% {
      background-color: #373636;
    }
    100% {
      background-color: black;
    }
  }

  .dots {
    display: flex;
    margin-top: 30px;
    position: fixed;
    top: 35px;
    right: 125px;
    opacity: 1;
  }

  .dots .list li:hover {
      color: black;
  }

  .container {
    display: flex;
    height: 400px;
    justify-content: center;
    left: 50%;
    overflow: hidden;
    position: fixed;
    transform: translateX(-50%);
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);;
    width: 325px;
    top: 10px;
    left: 10px;
  }
  .dot {
    background: lightgray;
    border-radius: 50%;
    height: 20px;
    margin-right: 10px;
    width: 20px;
  }

  .dot:last-child {
    margin-right: 0;
  }
 
  .list {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 35px;
    width: 300px;
  }
  .list ul {
    margin: 0;
    padding: 0;
  }
  .list li {
    align-items: center;
    border-bottom: 5px solid #bdbdbd;
    display: flex;
    font-size: 36px;
    height: 50px;
    margin-left: 40px;
    opacity: 0;
    list-style: none;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
    user-select: none;
    -moz-user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .list li:hover {
    background: #f5f5f5;
    
  }
  .dots.active .container {
    transform: translateX(-50%) translateY(20px);
  }
  .dots.active .drop {
    transform: translateY(212px) scale(108);
  }
  .dots.active .list li {
    cursor: pointer;
    opacity: 1;
    transition: opacity 200ms 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .dots.active .list li:nth-child(2) {
    transition-delay: 150ms;
  }
  .dots.active .list li:nth-child(3) {
    transition-delay: 200ms;
  }

  .dots.active .shadow {
    opacity: 1;
    transition: opacity 150ms 150ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  .cursor {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    height: 40px;
    position: absolute;
    top: 25px;
    width: 80px;
  }

  a {
      color: white;
      text-decoration: none;
  }

  a:hover {
      color: cyan;
      text-decoration: underline;
  }

  .hovertext {
      position: relative;
      border-bottom: LightGrey;
  }

  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: LightGrey;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
  }
